<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__contacts">

                <div class="footer__contacts-inner">
                    <div class="footer__contacts-inner__item">
                        <h2>
                            <a href="helpline.html">
                                Телефон доверия:
                            </a>
                        </h2>
                        <a href="tel:998712385005">
                            +998 (71) 238-50-05
                        </a>
                    </div>

                    <div class="footer__contacts-inner__item">
                        <h2>
                            Телефон министерства:
                        </h2>
                        <a href="tel:998712440143">
                            +998 (71) 238-50-00
                        </a>
                    </div>
                </div>

                <div class="telephones">
                    <h2>
                        Телефон канцелярии:
                    </h2>
                    <a href="tel:998712385090">
                        +998 (71) 238-51-90
                        +998 (71) 238-52-90
                        +998 (71) 238-50-90
                    </a>
                </div>

                <div class="emails">
                    <h2>
                        Корпоративная почта:
                    </h2>
                    <a href="mailto:info@miit.uz ">
                        info@miit.uz
                    </a>
                    <a href="mailto:miit@exat.uz">
                        miit@exat.uz
                    </a>
                </div>
                <div class="footer__links">
                    
                    <h2>
                        Мы в соцсетях:
                    </h2>
                    <div class="social">
                        <a href="#">
                            <img src="../images/telegram.svg" alt="">
                        </a>
                        <a href=" #">
                            <img src="../images/instagram.svg" alt="">
                        </a>
                        <a href=" #">
                            <img src="../images/facebook.svg" alt="">
                        </a>
                        <a href=" #">
                            <img src="../images/twitter.svg" alt="">
                        </a>
                        <a href=" #">
                            <img src="../images/linkedn.svg" alt="">
                        </a>
                        <a href=" #">
                            <img src="../images/youtube.svg" alt="">
                        </a>
                    </div>

                    <a class="footer__link" href="#">
                        Отправить обращение
                    </a>

                </div>
            </div>

            При использовании материалов, опубликованных на данном сайте, ссылка на www.miit.uz обязательна.
            з
            <p>
                © 2023 Все права защищены
            </p>
        </div>
    </div>
</footer>

<script src=" js/main.min.js"></script>
</body>

</html>